/build
/zeroCode/build
/picoCode/build
/buzzertest
.idea/
*.swp
include/wifi_credentials.h
/picoCode/include/wifi_credentials.h
include/mqtt_config.h
/picoCode/include/mqtt_config.h
*.swo
wifi_credentials.h
mqtt_config.h
/zeroCode/include/config.h
/irtest
